[Unit]
Description=Sensor reader for personal sensor device
After=network.target

StartLimitIntervalSec=120
StartLimitBurst=5

[Service]
Restart=on-failure
RestartSec=10s

Type=simple
ExecStart=/home/pi/bike-sensor/version_0/read_gps_pm.py --pijuice True --influxdb True --neopixels True

[Install]
WantedBy=multi-user.target